*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif, 'Lobster',cursive,'Pacifico', cursive;
    
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ccc;
}
.header{
    height: 50px;
    background-color: rgb(48, 46, 46);
}
.header ul{
    display: flex;
    flex-direction: row;
}
.header ul li a{
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 700;
    color: #ccc;
}
.header ul li a:hover,
#selected{
    color: #999;
    font-style: italic;
}
.slider{
    flex: 1;
    background-color: blue;
    overflow: hidden;
}
.slider--width{
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}
.slider--item{
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
}
.slider--texto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40vw;
    font-size: 15px;
    font-family: 'Pacifico';
    margin-left: 30px;
    color: rgb(255, 255, 255);
    line-height: 70px;
}
.slider--texto h1{
    font-family: 'Pacifico' ;
    text-transform: uppercase;
}
.about-us{
    text-align: center;
}
.about-us h1{
    padding: 30px;
    font-size: 40px;
}
.container{
    width: 90vw;
    margin: auto;
    flex-direction: row;
    
}
.about-us--left{
    width: 300px;
    height: 500px;
    border: 1px solid black;
}
