*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ccc;
}
.header{
    height: 50px;
    background-color: rgb(48, 46, 46);
}
.header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.header ul li a{
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 700;
    color: #ccc;
}
.header ul li a:hover,
#selected{
    color: #999;
    font-style: italic;
}
.banner{
    height: calc(100vh - 50px);
    background-color: #333;
    background-image: url(../images/cidade1.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.slider--width{
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}
.slider--item{
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.514);
    
}
.slider--area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40vw;
    font-size: 15px;
    font-family: 'Pacifico';
    margin-left: 30px;
    color: rgb(255, 255, 255);
    line-height: 70px;
}
.slider--area h1{
    font-family: 'Pacifico' ;
    text-transform: uppercase;
}
.about-us{
    height: 100%;
    padding-top: 40px;
   
    
}
.about-us h1{
    text-align: center;
    padding: 30px;
    font-size: 40px;
    
}


.container{
    width: 90vw;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    
}
.about-us--left{
    width: 400px;
    height: 500px;
    margin-top: 30px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    background-image: url(../images/barco2.jpg);
    background-position: center;
    background-size: cover;
    z-index: 9;
    border-radius: 5px;
    cursor: pointer;
    
}
.about-us--left img{
    width: 50%;
    height: 50%;
    
}
.videoBox{
    display: none;
    width: 100%;
    margin-left: 150px;
    transition: 5s;
    border-radius: 15px;
}
.video{
    
    margin: auto;
    
    
    width: 90%;
    
}


.about-us--right{
    z-index: 2;
    flex: 1;
    max-width: 600px;
    line-height: 30px;
}
.x-btn{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: red;
    color: white;
    position: relative;
    top: 0;
    z-index: 5;
}


@keyframes sunAnimation{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}