*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif, 'Lobster',cursive,'Pacifico', cursive;
    
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #a2d9ff;
}
header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ccc;
}
.header{
    height: 50px;
    background-color: rgb(48, 46, 46);
}
.header ul{
    display: flex;
    flex-direction: row;
}
.header ul li a{
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 700;
    color: #ccc;
}
.header ul li a:hover,
#selected{
    color: #999;
    font-style: italic;
}
.slider{
    flex: 1;
    background-color: blue;
    overflow: hidden;
}
.slider--width{
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}
.slider--item{
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
}
.slider--texto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40vw;
    font-size: 15px;
    font-family: 'Pacifico';
    margin-left: 30px;
    color: rgb(255, 255, 255);
    line-height: 70px;
}
.slider--texto h1{
    font-family: 'Pacifico' ;
    text-transform: uppercase;
}
.about-us{
    height: 90vh;
    padding-top: 40px;
   
   
    
}
.about-us h1{
    text-align: center;
    padding: 30px;
    font-size: 40px;
    
}
.sun{
    width: 250px;
    height: 250px;
    border-radius: 150px;
    position: absolute;
    left: -150px;
    background-color: rgb(252, 194, 3);
    z-index: 95;
    
}
.sun::before{
    content: '';
    width: 110%;
    position: absolute;
    height: 110%;
    border-radius: 140px;
    
    overflow: hidden;
    background-color: rgb(252, 244, 3);
    animation: sunAnimation 5s alternate infinite ;
    z-index: 1;
    box-shadow: 5px 5px 10px rgb(252, 244, 3);
    
}
.sun::after{
    content: '';
    position: absolute;
    background-color: rgb(252, 194, 3);
    inset: 5px;
    z-index: 2;
    width: 250px;
    height: 250px;
    border-radius: 150px;
    
}
.container{
    width: 90vw;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
}
.about-us--left{
    width: 400px;
    height: 500px;
    margin-top: 30px;
    box-shadow: 5px 5px 10px #000;
    background-image: url(../images/barco2.jpg);
    background-position: center;
    background-size: cover;
    z-index: 99;
    border-radius: 5px;
}

.about-us--right{
    z-index: 2;
    flex: 1;
    max-width: 600px;
    line-height: 30px;
}

#nuvem{
    width: 600px;
    height: 400px;
    position: absolute;
    margin-left: 380px;
    z-index: 0;
}


@keyframes sunAnimation{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}