*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    font-size:13px;
    overflow-x:hidden;
}
.body{
    z-index: 99;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.button{
    cursor: pointer;
}

header {
    height:100px;
    background-color: #79DAE8;
    color:#E8F9FD;
}
.header {
    max-width:1140px;
    height:100px;
    margin:auto;
    display:flex;
    align-items:center;
}
.logo {
    width:100px;
}
.logoimg {
    width:80px;
    height:80px;
    background-color:#E8F9FD;
    border-radius:40px;
}
.menu-opener {
    display:none;
}
.menu {
    flex:1;
    display:flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style:none;
}
.menu ul {
    display:flex;
}
.menu li a {
    color:#999;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left:10px;
    padding-right:10px;
    height:100px;
    display:flex;
    align-items:center;
    border-bottom:5px solid #E8F9FD;
}
.menu li a:hover,
.menu .active a {
    border-bottom:5px solid #19556d;
    color:#000;
}

.button {
    display:inline-block;
    background-color:#0AA1DD;
    color:#E8F9FD;
    text-transform: uppercase;
    font-size:12px;
    font-weight:600;
    text-decoration: none;
    padding:10px 30px;
    margin-top:30px;
    border-radius:20px;
}
.button--dark {
    background-color:#000;
}
.button--dark:hover {
    background-color:#0AA1DD;
}

.banner {
    height:calc(100vh - 100px);
    background-color:#333;
    background-image:url('../images/maldivas.jpg');
    background-size:cover;
    background-position:center;
    overflow:hidden;
}
.banner .sliders {
    width:1000vw;
    height:100%;
}
.banner .slide {
    width:100vw;
    height:100%;
    
    display:inline-block;
    background-color:rgba(0, 0, 0, 0.5);
}
.banner .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
    color:#E8F9FD;
}
.slidetext{
    flex-direction: column;
    width: 100vw;
    height: 500px;
    background-color:rgba(0, 0, 0, 0.7);
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size:50px;
    text-align: center;
}
.banner h1 span {
    color:#0AA1DD;
}
.banner h2 {
    text-transform: uppercase;
    margin-top:20px;
}





.default{
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section-title,
.default .section-desc{
    text-align: center;
    font-weight: 600;
}
.default .section-title{
    font-size: 40px;
}
.default .section-desc{
    font-size: 20px;
    margin-bottom: 40px;
    color: #999;
}
.default .section-body{
    max-width: 1140px;
    margin: auto;
}
.default.dark{
    background-color: #2155CD;
}
.default.dark .section-title,
.default.dark .section-desc,
.default.dark .section-body{
    color: #E8F9FD;
}
.default .light{
    background-color: #E8F9FD;
}
.default.light .section-title,
.default.light .section-desc,
.default.light .section-body{
    color: #000;
}







.section-about-us{
    display: flex;
    height: 400px;
}
.videoarea{
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(0, 0, 0, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}
.section-about-us .video{
    width: 700px;
    height: 500px;
    position: absolute;
    background-color: #000;
    left: 23%;
    transition: 3s; 
    display: none;
    border-radius: 15px;
}

.close{
    width: 60px;
    height: 60px;
    position: relative;
    top: -22px;
    left: 95%;
    border-radius: 30px;
    background-color: red;
    font-size: 20px;
    color: white;
    font-weight: 900;
    cursor: pointer;
}
.section-about-us--left{
    flex: 1;
    flex-direction: column;
}
.section-about-us--left p{
    line-height: 30px;
}
.section-about-us--right{
    width: 540px;
    height: auto;
    
}
.section-about-us--right .img{
    width: 500px;
    height: 300px;
    margin-left: 20px;
    background-image: url(../../media/empresa.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 7px 7px 10px #000;
}
.img .play{
    width: 200px;
    height: 200px;
    background-image: url(../../media/play.png);
    background-position: center;
    background-size: cover;
    border-radius: 100px;
}





.section-services{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section-service{
    width: 33%;
    height: 100%;
    text-align: center;
    border-right: 1px solid #fff;
}
.section-service img{
    width: 100px;
    height: 100px;
}
.section-service h2{
    margin-top: 30px;
}
.section-service:nth-child(1){
    border-left: 1px solid #fff;
}






.section-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section-plan--list{
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #E8F9FD;
    color: black;
    border-radius: 20px;
    padding: 0px 20px;
}
.section-plan--list ul,
.section-plan--list li{
    list-style: none;
}
.section-plan--list li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: #555;
    border-right: 1px solid #999;
    border-bottom: 2px solid #E8F9FD;
    cursor: pointer;
}
.section-plan--list li:last-child{
    border-right: none;
}
.section-plan--list li:hover,
.section-plan--list li.active{
    border-bottom: 3px solid black;
}

.section-plan--photos{
    width: 100vw;
    height: auto;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.section-plan--photo{
    width: 350px;
}
.section-plan--photoarea{
    margin: 10px;
    width: 300px;
    height: 180px;
}
.section-plan--photoarea img{
    width: inherit;
    height: inherit;
}
.section-plan--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 30px;
}
.section-plan--photoinfo h5 {
    font-size:18px;
    font-weight:600;
}
.section-plan--photoinfo p{
    text-align: center;
    margin-top: 5px;
}
.section-plan--photoinfo a{
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}
.section-plan--photoinfo a:hover{
    font-weight: 600;
}

.section-plan--photoarea:hover .section-plan--photoinfo{
    display: flex;
}
.boxmore{
    width: 1140px;
    background-color: #ccc;
    height: auto;
}
.more{
    
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    height: 0px;
    overflow-y: hidden;
    background-color: red;
    transition: all linear 2s;
}


