:root{
    --skin-color-1 : #19556d;
    --skin-color-w1 : #E8F9FD;
    --skin-color-w2 : #FFF;
    --dark-btn : #000;
    --skin-color-3 : #0AA1DD;
    --skin-color-4 : #00bcd4
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    font-size:13px;
    overflow-x:hidden;
}

.body{
    z-index: 99;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.button{
    cursor: pointer;
    margin-bottom: 30px;
}

header {
    height:100px;
    background: rgb(30,130,99);
    background: linear-gradient(90deg, rgba(30,130,99,1) 0%, rgba(61,112,144,1) 50%, rgba(43,159,136,1) 100%);
    color:var(--skin-color-w1);
}
.header {
    max-width:1140px;
    height:100px;
    margin:auto;
    display:flex;
    align-items:center;
}
.logo {
    width:100px;
}
.logoimg {
    width:80px;
    height:80px;
    border-radius:40px;
    background-image: url(../../media/logo.png);
    background-position: center;
    background-size: cover;
}
.menu-opener {
    display:none;
}
.closeMenu{
    display: none;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
    font-weight: 900;
}
.menu {
    flex:1;
    display:flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style:none;
}
.menu ul {
    display:flex;
}
.menu li a {
    color:var(--skin-color-w2);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left:10px;
    padding-right:10px;
    height:100px;
    display:flex;
    align-items:center;
    border-bottom:5px solid black;
}
.menu li a:hover,
.menu .active a {
    border-bottom:5px solid var(--skin-color-1);
    color: var(--dark-btn);
}

.button {
    display:inline-block;
    background-color: var(--skin-color-3);
    color:var(--skin-color-w1);
    text-transform: uppercase;
    font-size:12px;
    font-weight:600;
    text-decoration: none;
    padding:10px 30px;
    margin-top:30px;
    border-radius:20px;
}
.button--dark {
    background-color:var(--dark-btn);
}
.button--dark:hover {
    background-color:var(--skin-color-3);
}

.banner {
    height:calc(100vh - 100px);
    background-color:#333;
    background-image:url('../images/maldivas.jpg');
    background-size:cover;
    background-position:center;
    overflow:hidden;
}
.banner .sliders {
    width:1000vw;
    height:100%;
}
.banner .slide {
    width:100vw;
    height:100%;
    
    display:inline-block;
    background-color:rgba(0, 0, 0, 0.5);
}
.banner .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
    color:var(--skin-color-w1);
}
.slidetext{
    flex-direction: column;
    width: 100vw;
    height: 500px;
    max-height: 500px;
    background-color:rgba(0, 0, 0, 0.7);
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size:50px;
    text-align: center;
}
.banner h1 span {
    color:var(--skin-color-3);
}
.banner h2 {
    text-transform: uppercase;
    margin-top:20px;
}





.default{
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section-title,
.default .section-desc{
    text-align: center;
    font-weight: 600;
}
.default .section-title{
    font-size: 40px;
}
.default .section-desc{
    font-size: 20px;
    margin-bottom: 40px;
    color: #999;
}
.default .section-body{
    max-width: 1140px;
    margin: auto;
}
.default.dark{
    background-color: #2155CD;
}
.default.dark .section-title,
.default.dark .section-desc,
.default.dark .section-body{
    color: var(--skin-color-w1);
}
.default .light{
    background-color: var(--skin-color-w1);
}
.default.light .section-title,
.default.light .section-desc,
.default.light .section-body{
    color: var(--dark-btn);
}







.section-about-us{
    display: flex;
    height: 400px;
}
.videoarea{
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(0, 0, 0, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
    z-index: 98;
}
.section-about-us .video{
    width: 700px;
    height: 400px;
    position: absolute;
    background-color: var(--dark-btn);
    left: 23%;
    transition: 3s; 
    display: none;
    z-index: 99;
    
}
.video video{
    
    
    width: 90%;
    height: 90%;
    margin-left: -20px;
    margin-top: 20px;
}
.close{
    
    width: 60px;
    height: 60px;
    position: relative;
    top: -22px;
    left: 86%;
    border-radius: 30px;
    background-color: red;
    font-size: 20px;
    color: white;
    font-weight: 900;
    cursor: pointer;
}
.section-about-us--left{
    flex: 1;
    flex-direction: column;
}
.section-about-us--left p{
    line-height: 30px;
    padding: 30px;
}
.section-about-us--right{
    width: 540px;
    height: auto;
    
}
.section-about-us--right .img{
    width: 500px;
    height: 300px;
    margin-left: 20px;
    background-image: url(../../media/empresa.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 7px 7px 10px var(--dark-btn);
}
.img .play{
    width: 200px;
    height: 200px;
    background-image: url(../../media/play.png);
    background-position: center;
    background-size: cover;
    border-radius: 100px;
}





.section-services{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section-service{
    width: 33%;
    height: 100%;
    text-align: center;
    border-right: 1px solid var(--skin-color-w2);
}
.section-service img{
    width: 100px;
    height: 100px;
}
.section-service h2{
    margin-top: 30px;
}
.section-service:nth-child(1){
    border-left: 1px solid var(--skin-color-w2);
}





#plans{
    height: auto;
    overflow: hidden;
}
.section-projects {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters{
    display: inline-block;
    border: 1px solid #ccc;
    background-color: var(--skin-color-w1);
    color: black;
    border-radius: 20px;
    padding: 0px 20px;
}
.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}
.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: #555;
    border-right: 1px solid #999;
    border-bottom: 2px solid var(--skin-color-w1);
    cursor: pointer;
}
.section-projects--list li:last-child{
    border-right: none;
}
.section-projects--list li:hover,
.section-projects--list li.active{
    border-bottom: 3px solid black;
}
.section-projects--photos{
    width: 100vw;
    height: auto;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.section-projects--photo{
    width: 280px;
}
.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}
.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--skin-color-w2);
}
.section-projects--photoinfo h5 {
    font-size:18px;
    font-weight:600;
}
.section-projects--photoinfo p{
    text-align: center;
    margin-top: 5px;
}
.section-projects--photoinfo a{
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}
.section-projects--photoinfo a:hover{
    font-weight: 600;
}

.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}


#contact-us .section-body{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.contact-us--left{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-image: url(../images/alasca.jpg);
    background-position: center;
    background-size: cover;
    
    border: 10px outset rgba(123, 224, 228, 0.438);
    
}

.contact-us--left label{
    padding: 10px;
    font-size: 20px;
    margin-top: 30px;
    text-align: left;
}
.contact-us--left input{
    margin-top: 10px;
    width: 400px;
    height: 40px;
    outline: 0;
    padding: 8px;
    overflow: hidden;
}
.contact-us--right{
    display: flex;
    width: 400px;
    height: inherit;
    justify-content: center;
    
}
#assunto{
    width: 500px;
    height: 100px;
    resize: none;
    outline: 0;
    padding: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=button]{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;

    
}
.leftdark{
    width: 100%;
    height: inherit;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.697);
    padding: 30px;
}
input[type=button]:hover{
    background-color: #2155CD;
    color: var(--skin-color-w2);
}
.contact-us--right .img-logo{
    width: 70%;
    height: 70%;
    background-image: url(../../media/logo.png);
    background-position: center;
    background-size: cover;
   
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/disney.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: var(--skin-color-w2);
}
.contact .content p{

    font-weight: 300;
    color: var(--skin-color-w2);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background-color: var(--skin-color-w2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: var(--skin-color-w2);
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: var(--skin-color-4);
}
.contactForm{
    width: 40%;
    padding: 40px;
    background-color: var(--skin-color-w2);
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin-top: 5px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: var(--dark-btn);
    font-size: 16px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type=submit]{
    width: 100px;
    background-color: var(--skin-color-4);
    color: var(--skin-color-w2);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.error{
    font-size: 11px;
    background-color: rgba(255, 0, 0, 0.651);
    margin-top: -9px;
    border-radius: 7px;
    color: white;
    padding: 4px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--skin-color-4);
    border-radius: 10px;
}




@media (min-width:450px) and (max-width:1000px){
    
    .logo{
        margin-left: 30px;
    }
    .menu-opener{
        display: block;
        width: 45px;
        position: absolute;
        right: 0;
        top: 0;
        
        margin-right: 100px;
        margin-top: 30px;
    }
    nav{
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 40vw;
        height: 100vh;
        top: 0px;
        right: 0;
        transition: 1s;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li a{
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 50px;
        border: 0;
    }
    .menu li.active a{
        border: 0;
        color: var(--skin-color-4);
    }
    #about-us{
        height: 1000px;
    }
    .section-about-us{
        flex-direction: column;
    }
    .section-about-us--left{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .section-about-us--right{
        width: auto;
    }
    .section-about-us .video{
        margin: auto;
        width: 80%;
        left: 0;
        margin-left: 30px;
    }
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}


@media (max-width:450px){
    
    .logo{
        margin-left: 30px;
    }
    .menu-opener{
        display: block;
        width: 45px;
       margin-right: 30px;
    }
   
    nav{
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: 100vh;
        top: 0px;
        right: 0;
        transition: 1s;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li a{
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-left: 30px;
        border: 0;
    }
    .menu li.active a{
        border: 0;
        color: #B28756;
    }

    .banner h1{
        font-size: 30px;
    }
    .banner h2{
        font-size: 17px;
    }
    
    #about-us{
        height: 1500px;
    }
    .section-about-us{
        flex-direction: column;
    }
    .section-about-us--left{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .section-about-us--right{
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    .section-about-us--right img{
        width: 100%;
    }
    .section-about-us .video{
        margin: auto;
        width: 73%;
        height: 17%;
        left: 0;
        margin-left: 40px;
    }
    .video video{
        width: 90%;
        padding: 10px;
        
    }
    .close{
        height: 40px;
        width: 40px;
    }


    .section-services{
        flex-wrap: wrap;
    }
    .section-service{
        min-width: 100%;
        margin-bottom: 30px;
    }
   


    .section-projects--filters{
        margin-left: 30px;
        margin-right: 30px;
    }
    .section-projects--photos {
        width: 100vw;

        max-width: 1140px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-projects--photo{
        width: 320px;
        height: 210px;
    }
    .section-projects--photoarea {
        margin: 0;
        width: 300px;
        height: 180px;
    }
    .section-projects--photoinfo {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: inherit;
        height: inherit;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--skin-color-w2);
        padding: 0;
    }
    .section-projects--photoarea img {
        width: inherit;
        max-width: 100%;
        height: inherit;
    }
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}

